* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 1366px;

  font-family: "Nunito", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fffdfc;

  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 1366px;
  margin: 0 auto;
  display: flex;

  background-color: #ffffff;
}

.main-nav {
  flex-shrink: 0;
  width: 311px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;

  background-color: #151413;
}

.logo {
  display: block;
  margin-bottom: 5px;
}

.site-nav {
  margin: 0;
  padding: 25px 0;
  list-style: none;
}

.site-nav li:not(:last-child) {
  margin-bottom: 18px;
}

.site-nav a {
  color: inherit;
}

.site-nav-current {
  font-weight: 700;
  border-bottom: 1px solid #dc5b34;
}

.socials {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  display: flex;
  list-style: none;
}

.socials li {
  margin-right: 25px;
}

.main-nav ul {
  position: relative;
}

.main-nav ul + ul::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  top: 0;
  left: -50px;
  right: -50px;
  background-color: #fffdfc;
  opacity: 0.2;
}

.main {
  padding-right: 103px;
  padding-left: 52px;
}

.breadcrumbs {
  margin: 0;
  padding: 44px 0 20px 0;
  list-style: none;
}

.breadcrumb-item {
  position: relative;
  display: inline;
  margin-right: 24px;
}

.breadcrumbs a {
  color: #151413;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  position: absolute;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  width: 6px;
  height: 10px;
  top: 2px;
  left: -12px;
  transform: translate(-50%);
}

.promo {
  padding: 110px 250px;
  min-height: 365px;
  background-image: url(img/photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  color: #151413;
}

.promo-text span {
  display: inline-flex;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #dc5b34;
}
